body {
    background: #ccdee7;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal a {
    color: #374d76;
}

#gp-logo {
    left: auto !important;
    right: 20px;
}

#gp-logo + div > span {
    color: #374d76 !important;
}

.reveal a {
    text-decoration: underline;
}

.reveal a:hover {
    color: #000;
}

.reveal .slides {
    text-align: left;
}

.reveal .slides section > * {
    margin-left: 0;
    margin-right: 0;
}

.reveal blockquote {
    box-shadow: none;
    padding: 0;
    width: 80%;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    border-right-color: #374d76;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    border-left-color: #374d76;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    border-bottom-color: #374d76;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    border-top-color: #374d76;
}
